*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# SQLite stuff:
*.db
*.sqlite3
*.sqlite
