{% load static i18n %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gastolero - {% block page_title %}No Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web/css/bulma_0.7.5.css' %}">
  </head>

  <body>

    {% block content %}
    {% endblock %}


    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>
    <script src="{% static 'web/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'web/js/intercooler-1.2.2.js' %}"></script>
  </body>
</html>
