{% extends "web/base.html" %}

{% block page_title %}Estado{% endblock %}

{% block content %}

<div class="columns">
  <div class="column">
  <h2>Cuentas</h2>

    <table class="table is-hoverable is-narrow">
      <thead>
        <tr>
          <th>Alias</th>
          <th>Balance</th>
        </tr>
      </thead>

      <tbody>
        {% for account in accounts %}
        <tr>
          <td>{{ account.alias }}</td>
          <td align="right">{{ account.balance|floatformat:2 }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="2">No hay cuentas</td>
        </tr>
        {% endfor %}
        <tr>
          <td>Total</td>
          <td>{{ accounts_total|floatformat:2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="column">
    <h2>Sin presupuestar</h2>
    <h3>{{ unbudgeted|floatformat:2 }}</h3>
  </div>

  <div class="column">
    <h2>Presupuestos</h2>

    <table class="table is-hoverable is-narrow">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Planeado</th>
          <th>Disponible</th>
        </tr>
      </thead>

      <tbody>
        {% for budget in budgets %}
        <tr{% if budget.balance < 0 %} class="is-selected"{% endif %}>
          <td>

  <button ic-get-from="/transactions/?budget={{ budget.id }}" ic-target="#transactions_list">V</button>

          {{ budget.budget.name }} <a href="{% url 'admin:budgets_monthlybudget_change' budget.id %}">e</td>
          <td align="right">{{ budget.planned|floatformat:2 }}</td>
          <td align="right">{{ budget.balance|floatformat:2 }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="2">No hay presupuestos</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="column">
    <h2>Transacciones</h2>
    <div id="transactions_list"></div>
  </div>
</div>
{% endblock %}
